.project-cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 2rem;
}
.project-card{
    position: relative;
    padding:18px;
    min-height:300px;
    box-shadow: var(--box-shadow-1);
}
.project-card h3{
    margin-bottom: 10px;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    font-family: "Bricolage Grotesque", sans-serif;
}
.project-tools{
    display:flex;
    flex-wrap:wrap;
    gap: 5px;
    margin-bottom: 10px;
}
.tool-card{
    padding: 5px;
    border-radius: 5px;
    background: var(--color-primary-600);
    font-size: .8rem;
}
.project-icons{
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 15px;

}
.project-icons a{
    color: initial;
}
.project-icons a:hover{
    text-decoration: underline;
    color: var(--color-primary-200);
}
@media screen and (max-width: 450px) {
    .project-cards{
        grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    }
    .project-info p{
        font-size: var(--p-font-small-2);
    }
    .project-icons a{
        font-size: .9rem;
    }
}
