.skills-info{
    padding: 20px 0 30px;
}

.skills-info img{
    width: 100%;
    height: auto;
    margin-right: 15px;
    object-fit: fill;
}
.skills-info .icons{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.skills-info .icon{
    width: 60px;
}
.skills-info .tools,.lang{
    text-align: center;
}

.skills-info p{
    font-size: .8em;
    text-align: center;
}
.skills-info .lang{
    margin-bottom: 40px;
}
.skills-info h3{
    margin-bottom: 5px;
}

@media screen and (max-width:800px) {
    .skills-info .icon{
        width: 65px;
    }
    .skills-info h3{
        text-align: left;
    }
    .skills-info .icons{
        justify-content: start;
    }
}
@media screen and (max-width:600px) {
    .skills-info .icon{
        width: 45px;
        margin-right: 10px;
    }
    .skills-info p{
        font-size: .6em;
    }
    .skills-info .icons{
        gap: .6rem;
    }
}