.skills-info{
    padding: 20px 0 30px;
}
.skills-info h2{
    font-size: var(--h2-font);
    color: var(--color-primary-100);
    margin-bottom: 10px;
    text-align: center;
}
.skills-info img{
    width: 100%;
    height: auto;
    margin-right: 15px;
    object-fit: fill;
}
.skills-info .icons{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.skills-info .icon{
    width: 65px;
}
.skills-info .tools,.lang{
    text-align: center;
}
.skills-info .icons{
    text-align: center;
}

.skills-info p{
    font-family: "JetBrains Mono", sans-serif;
    font-size: .8em;
    text-align: center;
    color: var(--color-primary-100);
}
.skills-info .lang{
    margin-bottom: 40px;
}
.skills-info h3{
    margin-bottom: 5px;
}

@media screen and (max-width:800px) {
    .skills-info .icon{
        width: 65px;
    }
}
@media screen and (max-width:600px) {
    .skills-info .icon{
        width: 45px;
        margin-right: 10px;
    }
    .skills-info p{
        font-size: .6em;
    }
    .skills-info .icons{
        gap: .6rem;
    }
}