
.about-info{
    display: flex;
    gap: 3rem;
    padding: 10px 0 30px;
}
.about-img img{
    width: 340px;
}
.about-text .info{
    width: 80%;
}
.about-text p{
    margin-bottom: 10px;
}
.about-text .last{
    margin-bottom: 15px;
}
.header h2{
    font-size: var(--h2-font);
    color: var(--color-primary-100);
    margin-bottom: 10px;
}
@media screen and (max-width:1240px) {
    .about-text .info{
        width: 100%;
    }   
}
@media screen and (max-width:950px) {
    .about-text h2{
        font-size: 2rem;
        margin-bottom: 7px;
    }
    .about-text p{
        font-size: .9rem;
    }
}
@media screen and (max-width:800px) {
    .about-info{
       flex-direction: column-reverse;
    }
}
@media screen and (max-width:450px) {    
    .about-img img{
        width: 100%;
    }
}
