.about-det{
    display: flex;
    gap: 3rem;
    padding: 10px 0 30px;
}
.about-img img{
    width: 340px;
   border-radius: 15px;
}
.about-text .info{
    width: 80%;
}
.about-text p{
    margin-bottom: 10px;
}
.about-text .last{
    margin-bottom: 15px;
}
.about-contact .contact-btn a{
    padding-right: 5px;
}

.contact-btn{
    background: var(--color-primary-100);
    border-radius: 5px;
    padding: 15px;
    border: none;
    cursor: pointer;
    color: var(--color-surface-100);
    font-size: 1rem;
    transition: var(--transition-1);
}
.contact-btn a{
    color: var(--color-surface-100);
}
.contact-btn:hover{
    transform: scale(1.1);
}
@media screen and (max-width:1240px) {
    .about-text .info{
        width: 100%;
    }   
}
@media screen and (max-width:950px) {
    .about-text h2{
        font-size: 2rem;
        margin-bottom: 7px;
    }
    .about-text p{
        font-size: .9rem;
    }
}
@media screen and (max-width:800px) {
    .about-det{
       flex-direction: column-reverse;
    }
}
@media screen and (max-width:450px) {    
    .about-img img{
        width: 100%;
    }
}
