.home{
    color:white;
    width: 85%;
    margin: 0 auto;
    height: 90vh;
    /* background-color: pink; */
    display: flex;
    align-items: center;
}
.home-text h1{
    font-size: 1.8rem;
}
.home-text .name{
    font-size: 3.8rem;
    letter-spacing: 1px;
}
.home-text h2{
    font-size: 2.2rem;
}
.home-text span{
    color: var(--color-primary-100);
}