.home{
    color:white;
    width: 85%;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-text h1{
    font-size: 1.8rem;
}
.home-text .name{
    font-size: 3.5rem;
    letter-spacing: 1px;
}
.home-text h2{
    font-size: 2rem;
}
.home-text span{
    color: var(--color-primary-100);
}
.home-text p{
    letter-spacing: 1px;
}
img{
   width: 450px;
}
