@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Inter:wght@200;300;400;500;600;700&family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

:root{
  /********* Main Theme *************/
  --transition-1: .4s ease;
  --transition-2: padding .4s;
  --transition-3: width .3s;

  --h2-font: 1.8rem;
  --h2-font-small: 1.7rem;
  --h2-font-small-2: 1.4rem;

  --box-shadow-1: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  --box-shadow-2: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  --box-shadow-3: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
    /** CSS DARK THEME PRIMARY COLORS */ 
   --color-primary-100:  #7e22ce;
   --color-primary-200:  #8f40d4;
   --color-primary-300:  #9f59da;
   --color-primary-400:  #af71e0;
   --color-primary-500:  #bd89e6;
   --color-primary-600:  #cba0eb;  
    /** CSS DARK THEME SURFACE COLORS */
   --color-surface-100:  #fcfcfc;
   --color-surface-200:  #fcfcfc;
   --color-surface-300:  #fdfdfd;
   --color-surface-400:  #fdfdfd;
   --color-surface-500:  #fdfdfd;
   --color-surface-600:  #fefefe;  
    /** CSS DARK THEME MIXED SURFACE COLORS */ 
   --color-surface-mixed-100:  #f1e7f8;
   --color-surface-mixed-200:  #f3eaf9;
   --color-surface-mixed-300:  #f4ecfa;
   --color-surface-mixed-400:  #f6effa;
   --color-surface-mixed-500:  #f7f2fb;
   --color-surface-mixed-600:  #f9f4fc;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration:none;
  list-style:none;
}
.App{
  background:var(--color-surface-700);
}
.header{
  text-align: center;
  margin-bottom: 15px;
  font-size: var(--h2-font);
}

.header p{
  font-size:1.2rem;
  color: var(--color-primary-100);
  font-weight: 400;
}
section{
    width: 85%;
    margin: 0 auto;
    max-width: 1240px;
 }
 main{
  padding-top: 90px;
}
@media screen and (max-width:800px){
  .header{
    text-align: left;
    font-size: var(--h2-font-small);
  }
  .header p{
    font-size: 1.1rem;
  }  
}
 @media screen and (max-width: 450px){
    section{
        width: 90%;
     }
     .header{
      font-size: var(--h2-font-small-1);
    }  
 }