@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
:root{
  /********* Main Theme *************/
  --transition-1: .4s ease;
  --transition-2: padding .4s;
  --transition-3: width .3s;

  --h2-font: 1.8rem;
  --h2-font-small: 1.6rem;
  --h2-font-small-2: 1.3rem;

  --p-font-small-1:.9rem;
  --p-font-small-2: .86rem;

  --box-shadow-1: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  --box-shadow-2: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  --box-shadow-3: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
    /** CSS DARK THEME PRIMARY COLORS */ 
   --color-primary-100:  #7e22ce;
   --color-primary-100-a:rgba(126, 34, 206, 0.753);
   --color-primary-200:  #8f40d4;
   --color-primary-300:  #9f59da;
   --color-primary-400:  #af71e0;
   --color-primary-500:  #bd89e6;
   --color-primary-600:  #cba0eb;  
    /** CSS DARK THEME SURFACE COLORS */
   --color-surface-100:  #fcfcfc;
   --color-surface-200:  #fdfdfd;
   --color-surface-300:  #fefefe;  
    /** CSS DARK THEME MIXED SURFACE COLORS */ 
   --color-surface-mixed-100:  #f1e7f8;
   --color-surface-mixed-200:  #f3eaf9;
   --color-surface-mixed-300:  #f4ecfa;

}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  text-decoration:none;
}
.App{
  background:var(--color-surface-700);
}
section{
    width: 85%;
    margin: 0 auto;
    max-width: 1240px;
 }
 main{
  padding-top: 90px;
  padding-bottom: 20px;
}
label{
  color: var(color-primary-100);
}
.header{
  text-align: center;
  margin-bottom: 15px;
}
.header h2{
  font-size: var(--h2-font);
}

.header p{
  font-weight: 450;
}
.header p .header-bar{
  width: 30px;
  height: 3px;
  background: var(--color-primary-100);
  display: inline-block;

}
.contact-btn{
  background: var(--color-primary-100);
  border-radius: 5px;
  padding: 15px;
  border: none;
  cursor: pointer;
  color: var(--color-surface-100);
  font-size: 1rem;
  transition: var(--transition-1);
}
.contact-btn a{
  color: var(--color-surface-100);
  transition: var(--transition-1);
}
.contact-btn i{
  margin-left: 3px;
}
.contact-btn:hover{
  transform: scale(1.05);
}
.links a.active::after{
  position: absolute;
  bottom: 0;
  left:0;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary-100);
  transition: var(--transition-3);
}
@media screen and (max-width:800px){
  .header h2{
    font-size: var(--h2-font-small);
  }
}
 @media screen and (max-width: 450px){
    section{
        width: 90%;
     }
     .header h2{
      font-size: var(--h2-font-small-2);
    }
    .contact-btn{
      padding: 13px;
      font-size: .9rem;
    }  
 }