@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque&family=Inter:wght@200;300;400;500;600;700&family=JetBrains+Mono:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');

:root{
  /********* Main Theme *************/
  --color-primary-100: #a6ff00;
  --color-primary-100-1: #5757ff;
  --color-primary-100-a: #5757ffc4;
  --color-primary-200: #7268ff;
  --color-primary-300: #897aff;
  --color-primary-400: #9c8cff;

  /** CSS DARK THEME SURFACE COLORS */ 
  --color-surface-100:  #121212;
  --color-surface-100:  #1d1d1d;
  --color-surface-300:  #3f3f3f;
  --color-surface-400:  #575757;
  --color-surface-500:  #717171;
  --color-surface-600:  #8b8b8b;

  --transition-1: .4s;

  --h2-font: 2.2rem;
}

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  text-decoration:none;
  list-style:none;
}
.App{
  background:var(--color-surface-100);
  color:white;
}
.header{
  text-align: center;
}
