.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  */
}

.nav-info {
  max-width: 1240px;
  margin: 0 auto;
  /* padding: 18px 20px; */
  padding: 18px 7.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo p{
    color: var(--color-primary-100);
    font-size: 1.7rem;
    font-weight:600;
    font-family: "JetBrains Mono", sans-serif;
}
.links{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 30px;
}

.links a{
    color: var(--color-primary-100);
    font-size: 1.1rem;
}
.hamburger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    display:none;
  }
  
  .line {
    width: 30px;
    height: 3px;
    background-color: var(--color-primary-100);
    margin: 3px 0;
    transition: var(--transition-1);
    border-radius: 3px;
  }
.hamburger-menu .line:nth-child(1) {
    transform: translateY(0px) rotate(0deg);
  }
  
  .hamburger-menu .line:nth-child(2) {
    opacity: 1;
  }
  
  .hamburger-menu .line:nth-child(3) {
    transform: translateY(0px) rotate(0deg);
  }
  .open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .open .line:nth-child(2) {
    opacity: 0;
  }
  
  .open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  @media screen and (min-width:1350px){
    .nav-info {
      padding: 18px 0%;
    }
  }
  @media screen and (max-width:800px){
    .hamburger-menu {
        display: flex;
      }
      .links{   
        position:fixed;
        top:60px;
        right:7.6%;
        flex-direction: column;
        border-radius:10px;
        height:0;
        width:0;
        overflow: hidden;
        background:var(--color-primary-100);
        transition: var(--transition-1);
      }
      .nav-info .open-links a{
        display: block;
        padding: 10px 40px;
        width:100%;
        transition: var(--transition-1);
        color: white;
        text-align: center;
      }
      .nav-info .open-links{
        height:300px;
        width: 180px;
        padding: 20px 0;
      } 
  }
@media screen and (max-width:450px){
  .nav-info{
    width: 90%;
    padding: 18px 0;
  }
  .nav-info .open-links a{
    padding: 10px 20px;
  }
}